<div class="MyOwnJioHeader">
  <div class="container">
    <div class="flex-row">
        <div class="flex-lg-row">
          <button> <a routerLink="/" routerLinkActive="active">Home</a></button>
          <label><i class="fa fa-bullseye"></i><span >TIBCO</span></label>
         <!-- <label style="text-align:right"> <i class="fa fa-bullseye"></i><span >TIBCO</span></label> -->
         <!-- <label align="right"> <i class="fa fa-bullseye"></i><span >TIBCO</span></label> -->
        </div>
      </div>
    </div>
</div>
