.demo{ background: #efd391; position: fixed; }
a:hover,a:focus{
outline: none;
text-decoration: none;
}
.tab{
  position: fixed;
  top: 30px;
  left: 10px;

}
.tab .nav-tabs{
position: fixed;
border-bottom: none;

}
.tab .nav-tabs li{
text-align: center;
margin-right: 10px;
}
.tab .nav-tabs li a{
display: block;
font-size: 16px;
font-weight: 600;
color: #444;
padding: 10px 15px;
background: transparent;
margin-right: 0;
border: none;
border-radius: 0;
overflow: hidden;
position: relative;
z-index: 1;
transition: all 0.5s ease 0s;
}
.tab .nav-tabs li a:before{
content: "";
width: 100%;
height: 3px;
background: #de7921;
position: absolute;
top: 92%;
left: 0;
transition: all 0.3s ease 0s;
}
.tab .nav-tabs li a:hover:before,
.tab .nav-tabs li.active a:before,
.tab .nav-tabs li.active a:hover:before{
top: 0;
}
.tab .nav-tabs li a:after{
content: "";
width: 100%;
height: 100%;
background: #fff;
position: absolute;
top: 100%;
left: 0;
z-index: -1;
transition: all 0.3s ease 0s;
}
.tab .nav-tabs li a:hover:after,
.tab .nav-tabs li.active a:after,
.tab .nav-tabs li.active a:hover:after{
top: 0;
}
.nav-tabs li.active a,
.nav-tabs li.active a:focus,
.nav-tabs li.active a:hover,
.nav-tabs li a:hover{
border: none;
}
.tab .tab-content{
padding: 30px 15px 20px;
/* padding: 20px; */
background:rgb(196, 236, 196);
font-size: 20px;
color:blue;
line-height: 26px;
/*  */
border: 1px ridge #d3d3d3;
position: fixed;
left: 10px;
top: 95px;
width: 98%;
height: 80%;
box-sizing: border-box;

}
.tab .tab-content h3{
font-size: 24px;
margin-top: 0;
}
@media only screen and (max-width: 479px){
.tab .nav-tabs li{ width: 100%; }
}
