<!-- <div class="demo"> -->
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="tab" role="tabpanel">
          <!-- Nav tabs -->
          <ul class="nav nav-tabs" role="tablist">
            <li class="active" role="presentation"><a role="tab" aria-controls="home" href="#Section1" data-toggle="tab">CAB</a></li>
            <li role="presentation"><a role="tab" aria-controls="profile" href="#Section2" data-toggle="tab">O2A Env</a></li>
            <li role="presentation"><a role="tab" aria-controls="messages" href="#Section3" data-toggle="tab">Over all</a></li>
          </ul>
          <!-- Tab panes -->
          <div class="tab-content tabs">
            <div class="tab-pane fade in active" id="Section1" role="tabpanel">
              <p></p>  <p></p>  <p></p>
              <p><i><b>CAB Tasks, plan</b></i></p>
            </div>
            <div class="tab-pane fade" id="Section2" role="tabpanel">

              <p><i><b>O2A Env tasks, past history, issues and corresponding action taken </b></i></p>
            </div>
            <div class="tab-pane fade" id="Section3" role="tabpanel">

              <p><i><b> Overall tasks</b></i></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- </div> -->
