<div>
  <h3>
    Servcie Test details
  </h3>
  <!-- Name: <input type='text' [(ngModel)]="recordHighlightParam" ng-init="recordHighlightParam=10">
  <h1>{{recordHighlightParam}}</h1> -->
  <section class="selection">
    <!-- <input type='text' value="Filter" /> -->
    <input type='text' style='padding:8px;margin:1px auto;width:90%;'
    placeholder='Filter the names...'
    (keyup)='updateFilter($event)'
    />
    <!-- <input type='text' value="Filter" /> -->
    <input type='text'  style='padding:8px;margin:1px auto;width:90%;'
      placeholder='Row highlight age==10...'
    />
    <!-- <input type='text' value="Filter" /> -->
    <input type='text'  style='padding:8px;margin:1px auto;width:90%;'
      placeholder='Cell gender==female...'
    />
    <!-- <input type='text' style='background-color:slateblue;font-size:20px' value="Filter" /> -->
    <!-- <input type='text'  style='padding:8px;margin:1px auto;width:100%; '
      placeholder='Type to filter the name column...'
    /> -->
    <!-- <input type='text' value="Filter" /> -->
    <!-- <input type='text'  style='padding:8px;margin:1px auto;width:90%;'
      placeholder='Type to filter the name column...'
    /> -->
  </section>
  <textarea ></textarea>
    <!-- <div style='float:left;width:75%'> -->
    <div>
      <!-- <div class="info">
        <p> abcd</p>
      </div> -->

      <ngx-datatable
        class="material"

        [rows]="rows"
        [limit]="5"

        [columns]="columns"
        [columnMode]="'force'"

        [headerHeight]="50"
        [footerHeight]="50"
        [rowHeight]="'auto'"

        [selected]="selected"
        [selectionType]="'multi'"
        (activate)="onActivate($event)"
        (select)='onSelect($event)'

        [selected]="selected"
        [selectionType]="'cell'"
        (select)="onCellSelect($event)"
        (activate)="onCellActivate($event)"

        [scrollbarH]="true"

        (tableContextmenu)="onTableContextMenu($event)"

        [rowClass]="getRowClass"
      >

      <ngx-datatable-column name="Id" [width]="30">
        <ng-template ngx-datatable-cell-template let-value="value">
          {{value}}
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="serviceId" [width]="70">
        <ng-template ngx-datatable-cell-template let-value="value">
          {{value}}
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="requestId">
        <ng-template ngx-datatable-cell-template let-value="value">
          {{value}}
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="responseId">
        <ng-template ngx-datatable-cell-template let-value="value">
          {{value}}
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="envId" [width]="60">
        <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-row="row" let-value="value">
          <span
          title="Double click to edit"
          (dblclick)="editedRow[rowIndex + '-envId'] = true"
          *ngIf="!editedRow[rowIndex + '-envId']">
          {{value}}
          </span>
          <select
            *ngIf="editedRow[rowIndex + '-envId']"
            (blur)="editedRow[rowIndex + '-envId'] = false"
            (change)="updateValue($event, 'envId', rowIndex)"
            [value]="value">
            <option value="replica">REPLICA</option>
            <option value="o2a">O2A</option>
			      <option value="new">http://localhost:3004/envs</option>
          </select>
        </ng-template>
	    </ngx-datatable-column>
      <ngx-datatable-column name="useCase">
        <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
          <span
            title="Double click to edit"
            (dblclick)="editedRow[rowIndex + '-usecase'] = true"
            *ngIf="!editedRow[rowIndex + '-usecase']">
            {{value}}
          </span>
          <input
            autofocus
            (blur)="updateValue($event, 'useCase', rowIndex)"
            *ngIf="editedRow[rowIndex+ '-usecase']"
            type="text"
            [value]="value"
          />
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="touchPoints">
        <ng-template ngx-datatable-cell-template let-value="value">
          {{value}}
        </ng-template>
      </ngx-datatable-column>
	    <ngx-datatable-column name="testdataType" headerClass="is-testdata" [cellClass]="getCellClass" [width]="60">
        <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-row="row" let-value="value">
          <span
          title="Double click to edit"
          (dblclick)="editedRow[rowIndex + '-testdatatype'] = true"
          *ngIf="!editedRow[rowIndex + '-testdatatype']">
          {{value}}
          </span>
          <select
            *ngIf="editedRow[rowIndex + '-testdatatype']"
            (blur)="editedRow[rowIndex + '-testdatatype'] = false"
            (change)="updateValue($event, 'testdataType', rowIndex)"
            [value]="value">
            <option value="test">Test</option>
            <option value="actual">Actual</option>
          </select>
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="testType" [width]="60">
        <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-row="row" let-value="value">
          <span
          title="Double click to edit"
          (dblclick)="editedRow[rowIndex + '-testtype'] = true"
          *ngIf="!editedRow[rowIndex + '-testtype']">
          {{value}}
          </span>
          <select
            *ngIf="editedRow[rowIndex + '-testtype']"
            (blur)="editedRow[rowIndex + '-testtype'] = false"
            (change)="updateValue($event, 'testType', rowIndex)"
            [value]="value">
            <option value="info">Info</option>
            <option value="txn">Txn</option>
			      <option value="ops">Ops</option>
          </select>
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="diffId">
        <ng-template ngx-datatable-cell-template let-value="value">
          {{value}}
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="responseTime" [width]="60">
        <ng-template ngx-datatable-cell-template let-value="value">
          {{value}}
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="dateTime">
        <ng-template ngx-datatable-cell-template let-value="value">
          {{value}}
        </ng-template>
      </ngx-datatable-column>

      </ngx-datatable>
    </div>

    <div class='selected-column'>
      <h4>Selections</h4>
      <ul>
        <li *ngFor='let sel of selected'>
          Use case: {{sel.useCase}}
        </li>
        <li *ngIf="!selected.length">No Selections</li>
      </ul>
    </div>
  </div>
  <div class="info">
      <p *ngIf="rawEvent">On Right click <strong>Mouse position:</strong> <code>(x: {{rawEvent?.x}}, y: {{rawEvent?.y}})</code></p>
      <p *ngIf="contextmenuRow">On Right click <strong>Row:</strong> The TouchPoints : {{contextmenuRow?.touchPoints}}</p>
      <p *ngIf="contextmenuColumn">On Right click <strong>Header:</strong>
        name: {{contextmenuColumn?.name}}
        prop: {{contextmenuColumn?.prop}}
      </p>
    </div>
