<div>
    <h3>
      Servcie Test details
    </h3>
    <input
    type='text'
    style='padding:8px;margin:15px auto;width:30%;'
    placeholder='Type to filter the name column...'
    (keyup)='updateFilter($event)'
  />

    <!-- <div style='float:left;width:75%'> -->
    <div>
      <!-- <div class="info">
        <p> abcd</p>
      </div> -->

      <ngx-datatable
        class="material"

        [rows]="rows"
        [limit]="5"


        [columnMode]="'force'"

        [headerHeight]="50"
        [footerHeight]="50"
        [rowHeight]="'auto'"

        [selected]="selected"
        [selectionType]="'multi'"
        (activate)="onActivate($event)"
        (select)='onSelect($event)'

        [selected]="selected"
        [selectionType]="'cell'"
        (select)="onCellSelect($event)"
        (activate)="onCellActivate($event)"

        [scrollbarH]="true"

        (tableContextmenu)="onTableContextMenu($event)"

        [rowClass]="getRowClass"
      >

      <ngx-datatable-column name="Name">
        <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
          <span
            title="Double click to edit"
            (dblclick)="editedRow[rowIndex + '-name'] = true"
            *ngIf="!editedRow[rowIndex + '-name']">
            {{value}}
          </span>
          <input
            autofocus
            (blur)="updateValue($event, 'name', rowIndex)"
            *ngIf="editedRow[rowIndex+ '-name']"
            type="text"
            [value]="value"
          />
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="Gender" headerClass="is-gender" [cellClass]="getCellClass">
        <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-row="row" let-value="value">
          <span
          title="Double click to edit"
          (dblclick)="editedRow[rowIndex + '-gender'] = true"
          *ngIf="!editedRow[rowIndex + '-gender']">
          {{value}}
        </span>
        <select
          *ngIf="editedRow[rowIndex + '-gender']"
          (blur)="editedRow[rowIndex + '-gender'] = false"
          (change)="updateValue($event, 'gender', rowIndex)"
          [value]="value">
          <option value="male">Male</option>
          <option value="female">Female</option>
        </select>
      </ng-template>
    </ngx-datatable-column>
      <ngx-datatable-column name="Age">
        <!-- there is no tool tips after implementing below ng-template (may be title is needed). After you remove tool tips again you can see tool tips -->
        <ng-template ngx-datatable-cell-template let-value="value">
          {{value}}
        </ng-template>
      </ngx-datatable-column>

      </ngx-datatable>
    </div>

    <div class='selected-column'>
      <h4>Selections</h4>
      <ul>
        <li *ngFor='let sel of selected'>
          {{sel.name}}
        </li>
        <li *ngIf="!selected.length">No Selections</li>
      </ul>
    </div>
  </div>
  <div class="info">
      <p *ngIf="rawEvent">On Right click <strong>Mouse position:</strong> <code>(x: {{rawEvent?.x}}, y: {{rawEvent?.y}})</code></p>
      <p *ngIf="contextmenuRow">On Right click <strong>Row:</strong> {{contextmenuRow?.name}}</p>
      <p *ngIf="contextmenuColumn">On Right click <strong>Header:</strong>
        name: {{contextmenuColumn?.name}}
        prop: {{contextmenuColumn?.prop}}
      </p>
    </div>
