.tab{
  box-shadow:0 3px 10px rgba(0,0,0,.3);
  position: fixed;
  left: 10px;
  }
  .tab .nav-tabs{
  border-bottom:2px solid #29999f;
  }
  .tab .nav-tabs li{
  margin-bottom:0px;
  margin-right:0px;
  }
  .tab .nav-tabs li a {
  font-size:14px;
  color:#808080;
  outline:none;
  margin-right:0px;
  padding:20px 25px;
  border-radius:0;
  text-transform:uppercase;
  }
  .nav-tabs > li > a:hover{
    border-color: #e4e4e4;
    background: #f4f4f4;
    }

/* .nav-tabs > li.active > a,
.nav-tabs > li.active > a:focus,
.nav-tabs > li.active > a:hover{
color:#666666;
border-color: #e4e4e4 #e4e4e4 transparent;
} */
  /* .tab .nav-tabs li a:hover, */
  .tab .nav-tabs li a:focus,
  .tab .nav-tabs li.active a{
  background:#1fd6e0;
  color:#fff;
  }
  .tab .tab-content{
  color:#5a5c5d;
  padding: 20px;
  }

  /* .tab .nav-tabs .nav-pane{box-sizing: border-box; height: 80%;} */


  /*  */
/*  SECTIONS  */
.section {
	clear: both;
	padding: 0px;
	margin: 0px;
}

/*  COLUMN SETUP  */
.myOwnJioFilterData {
  border:3px ridge #f2f7f7;
}

#SelectService{
	display: block;
	float:left;
  margin: 0.2% 0 0.1% 0.2%;
  /* background: #fa9ed1; */
  box-sizing: border-box;
  height: 60px;
}
#removeMsgBtn {

}
#storedMsgBtn{
  width: 20pc;
}
#MessagesOfSelectedService {
	display: block;
	float:left;
  margin: 1% 0 0.1% 0.0%;
  background: #dafa9e;
  box-sizing: border-box;
  height: 120px;
  overflow: auto;
}

#DescriptionOfSelectedService{
	display: block;
	float:left;
  margin: -6% 0 0.1% 0.0%;
  background: #dafa9e;
  box-sizing: border-box;
  height: 60px;
}
/* .myOwnJioFilterData .col {
	display: block;
	float:left;
  margin: 1% 0 0.1% 0.2%;
  background: #bafaea;
  box-sizing: border-box;
  height: 120px;
} */
#myOwnJioSubHeader{
  width: 100vw;
  background: #faec9e ;
  color: gray;
  display: table-cell;
  text-align: center;
}
/* .col level {float: right;background: red; color: gray} */
.myOwnJioDetailData .col {
	display: block;
	float:left;
  margin: 1% 0 0.1% 0.2%;
  background: #bafaea;
  box-sizing: border-box;
  height: 120px;
  overflow: auto;
}
.myOwnJioDetailData{
  border:3px ridge #f2f7f7;
  /* margin-top: 2px; */
  background: #f7e6e4;
}
.col:first-child { margin-left: 0; }

/*  GROUPING  */
.group:before,
.group:after { content:""; display:table; }
.group:after { clear:both;}
.group { zoom:1; /* For IE 6/7 */ }
/*  GRID OF TWO  */
.span_2_of_2 {
	width: 100%;
}
.span_1_of_2 {
	width: 49.2%;
}

/*  GO FULL WIDTH AT LESS THAN 480 PIXELS */

@media only screen and (max-width: 480px) {
	.col {
		margin: 1% 0 1% 0%;
	}
}

@media only screen and (max-width: 480px) {
	.span_2_of_2, .span_1_of_2 { width: 100%; }
}
  /*  */
  @media only screen and (max-width: 480px){
  .tab .nav-tabs > li{ width:100%; }
  }
