<!-- <p>
  my-own-jio-tibcoopsdata works!
</p> -->
<div class="container">
  <div class="row">
      <div class="col-md-8">
          <div class="tab" role="tabpanel">
              <!-- Nav tabs -->
              <!-- <ul class="nav nav-tabs flex-column flex-sm-row" role="tablist"> -->
                <ul class="nav nav-tabs" role="tablist">
                  <li role="presentation" class="active"><a href="#Section1" aria-controls="home" role="tab" data-toggle="tab">Section 1</a></li>
                  <li role="presentation"><a href="#Section2" aria-controls="profile" role="tab" data-toggle="tab">Section 2</a></li>
                  <li role="presentation"><a href="#Section3" aria-controls="messages" role="tab" data-toggle="tab">Section 3</a></li>
                  <li role="presentation"><a href="#Section4" aria-controls="settings" role="tab" data-toggle="tab">Section 4</a></li>
              </ul>
              <!-- Tab panes -->
              <div class="tab-content">
                  <div role="tabpanel" class="tab-pane active" id="Section1">
                      <h3>Section 1</h3>
                      <p>
                          1 - Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras viverra sapien metus, et volutpat ex bibendum nec. Duis consectetur posuere faucibus. Cras justo metus, tincidunt varius enim ac, vulputate euismod tortor. Etiam eu elementum ex, non condimentum nibh. Sed lacinia.
                      </p>
                  </div>
                  <div role="tabpanel" class="tab-pane" id="Section2">
                      <h3>Section 2</h3>
                      <p>
                          2 - Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed pellentesque iaculis sagittis. Cras et convallis risus, nec maximus justo. Mauris dignissim tellus eu lorem efficitur faucibus. Etiam diam risus, molestie eu porta sit amet, bibendum nec nisi. Ut iaculis pulvinar dapibus. Cras diam turpis, tincidunt ac efficitur id, dignissim at.
                      </p>
                  </div>
                  <div role="tabpanel" class="tab-pane" id="Section3">
                      <h3>Section 3</h3>
                      <p>
                          3 - Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean varius quis ipsum a rutrum. Donec quis consequat sem. Donec gravida nisi quis nibh vestibulum ullamcorper. Suspendisse turpis sapien, lobortis vel.
                      </p>
                  </div>
                  <div role="tabpanel" class="tab-pane" id="Section4">
                      <h3>Section 4</h3>
                      <p>
                          4 - Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas bibendum ante in velit faucibus, a efficitur nisl vestibulum. Sed a nisi eget tellus eleifend mattis. Nam vulputate leo in posuere imperdiet. Mauris a mollis nulla. Nulla euismod sed neque eget lacinia. Donec at lacus et arcu consectetur aliquet ac sed tellus. Donec non dapibus turpis
                      </p>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
