<!-- <p>
  my-own-jio-tibcoopsdata works!
</p> -->
<div class="container">
  <div class="row">
      <div class="col-md-8">
          <div class="tab" role="tabpanel">
              <!-- Nav tabs -->
                <ul class="nav nav-tabs" role="tablist">
                  <li role="presentation" class="active"><a href="#Section1" aria-controls="home" role="tab" data-toggle="tab"> BWService</a></li>
                  <li role="presentation"><a href="#Section2" aria-controls="profile" role="tab" data-toggle="tab">"EMS/Solace"</a></li>
                  <li role="presentation"><a href="#Section3" aria-controls="messages" role="tab" data-toggle="tab">"AS/DB"</a></li>
                  <li role="presentation"><a href="#Section4" aria-controls="settings" role="tab" data-toggle="tab">Others</a></li>
              </ul>
              <!-- Tab panes -->
              <div class="tab-content">
                  <div role="tabpanel" class="tab-pane active" id="Section1">
                      <p></p><p></p>
                      <p>
                          <i><b>It will have inventory of all the deployed software. It can have view of inventory by machine or by technological stack (like BW etc ) or view by functionality etc ...
                              There will be tab for each environment. There can be one tab for overall summary page.</b></i>
                      </p>
                  </div>
                  <div role="tabpanel" class="tab-pane" id="Section2">
                      <p></p><p></p>
                      <p>
                          <i><b>It will have inventory of all the deployed software. It can have view of inventory by machine or by technological stack (like BW etc ) or view by functionality etc ...
                              There will be tab for each environment. There can be one tab for overall summary page.</b></i>
                      </p>
                  </div>
                  <div role="tabpanel" class="tab-pane" id="Section3">
                      <p></p><p></p>
                      <p>
                          <i><b>It will have inventory of all the deployed software. It can have view of inventory by machine or by technological stack (like BW etc ) or view by functionality etc ...
                              There will be tab for each environment. There can be one tab for overall summary page.</b></i>
                      </p>
                  <div role="tabpanel" class="tab-pane" id="Section4">
                      <p></p><p></p>
                      <p>
                          <i><b>It will have inventory of all the deployed software. It can have view of inventory by machine or by technological stack (like BW etc ) or view by functionality etc ...
                              There will be tab for each environment. There can be one tab for overall summary page.</b></i>
                      </p>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
