<!-- <div class="MyOwnJioDetails"> -->
<!-- <div class="container"> -->
  <div class="btn-group btn-group-justified">
      <div class="btn-group dropup">
          <button type="button" class="btn btn-lg green dropdown-toggle" data-toggle="dropdown"> Notify TOPS team<span class="caret"></span></button>
          <div class="dropdown-menu" role="menu">
              <div class="dropdown-divider"></div>
              <h6 class="dropdown-header">Critical Alerts</h6>
            <a class="dropdown-item" href="#"><b>Regular/Planed Maintenance:</b> "Tonight 11PM, BW Servers patch upgrade"</a>
            <button class="dropdown-item" type="button"><b>Severity:</b>"Severity 3: Rechange slow, EMS Queue pilking up"</button>
            <div class="dropdown-divider"></div>
            <h6 class="dropdown-header">Activity Alerts</h6>
            <button class="dropdown-item" type="button"><b>Major Activity:</b> "Tonight Reliance's 1st Microservice component going live, the first step towards cloud and DevOps"</button>
            <a class="dropdown-item" href="#"><b>Ongoing Activity:</b> "TIBCO team is working on severity 2 due to failure in last night release"</a>
          </div>
      </div>
      <div class="btn-group dropup">
        <button type="button" class="btn btn-lg blue dropdown-toggle" data-toggle="dropdown"> DevOps Actions <span class="caret"></span></button>
        <div class="dropdown-menu" role="menu">
          <div class="dropdown-divider"></div>
          <h6 class="dropdown-header">Transactional</h6>
          <a class="dropdown-item" href="#">Purge none transactional JMS queues</a>
          <button class="dropdown-item" type="button">Add one instance of CCI</button>
          <div class="dropdown-divider"></div>
          <h6 class="dropdown-header">None Transactional</h6>
          <button class="dropdown-item" type="button">Place PMC on O2A CCI</button>
          <a class="dropdown-item" href="#">Generate and send Hawk Error Reports for last 2 hours</a>
        </div>
      </div>
      <div class="btn-group dropup">
      <button type="button" class="btn btn-lg red dropdown-toggle" data-toggle="dropdown"> Message via Slack <span class="caret"></span></button>
      <div class="dropdown-menu" role="menu">
        <div class="dropdown-divider"></div>
        <h6 class="dropdown-header">Message PLATFORM OWNER</h6>
        <a class="dropdown-item" href="#">Owner 1</a>
        <button class="dropdown-item" type="button">Owner 2</button>
        <div class="dropdown-divider"></div>
        <h6 class="dropdown-header">Message JIO GROUPS</h6>
        <button class="dropdown-item" type="button">Group 1</button>
        <a class="dropdown-item" href="#">Group 2</a>
      </div>
    </div>
  </div>
<!-- </div> -->
<!-- </div> -->
