/*
.MyOwnJioHeader {
   background: #764ee2;
   font-size: 20px;
   font-style: oblique;
   color: aliceblue

} */

/* .tab-content .tab-pane app-my-own-jio-tibcoopsdata {
  border: inset;
  border: solid salmon;
  background: yellow;
  box-sizing: border-box;
  transform: rotate(90deg);

} */

/* .tab-content .tab-pane cite {
  border: inset;
  border: solid salmon;
  background: yellow;
  box-sizing: border-box;
  transform: rotate(90deg);

} */


/* .MyOwnJioDetails{ background: #ffded7; */
/* width: fit-content;
height: fit-content; */
/* display: flex;
justify-content: flex-start; */
 /* transform: rotate(270deg); */
/* } */

/*
.tab-content .tab-pane .jumbotron {
    position: fixed;
  border: solid salmon;
  background: yellow;
  box-sizing: border-box;
  transform: rotate(90deg);

}
 */
/*
.tab-content .tab-pane{
  border: 1px ridge #d3d3d3;
  padding: 20px;
  background:#fff;
  line-height: 22px;
  position: fixed;
  }
   */
/*
.tab-content .tab-pane h3{
  margin-top: 0;
} */
.tab {
  /* transform: rotate(270deg); */
  /* box-sizing: border-box; */
  position: fixed;
  left: 10px;
}


a:hover,a:focus{
    outline: none;
    text-decoration: none;
}
.tab .nav-tabs{
    /* padding-left: 15px; */ /*No impact with lower padding values*/
    padding-left: 15px;
    border-bottom: 4px solid #692f6c;

    /* display: flex; this has no impact */
    /* float: right; */
    flex-direction: row-reverse;
}
/*
.nav-tabs{

} */

.tab .nav-tabs li a{
    color: #fff;
    padding: 10px 20px;
    margin-right: 10px;
    background: #692f6c;
    text-shadow: 1px 1px 2px #000;
    border: none;
    border-radius: 0;
    opacity: 0.5;
    position: relative;
    transition: all 0.3s ease 0s;
}
.tab .nav-tabs li a:hover{
    background: #692f6c;
    opacity: 0.8;
}
.tab .nav-tabs li.active a{
    opacity: 1;
}
.tab .nav-tabs li.active a,
.tab .nav-tabs li.active a:hover,
.tab .nav-tabs li.active a:focus{
    color: #fff;
    background: #692f6c;
    border: none;
    border-radius: 0;
}
.tab .nav-tabs li a:before,
.tab .nav-tabs li a:after{
    content: "";
    border-top: 42px solid transparent;
    position: absolute;
    top: -2px;
}
.tab .nav-tabs li a:before{
    border-right: 15px solid #692f6c;
    left: -15px;
}
.tab .nav-tabs li a:after{
    border-left: 15px solid #692f6c;
    right: -15px;
}
.tab .nav-tabs li a i,
.tab .nav-tabs li.active a i{
    display: inline-block;
    padding-right: 5px;
    font-size: 15px;
    text-shadow: none;
}
.tab .nav-tabs li a span{
    display: inline-block;
    font-size: 14px;
    letter-spacing: -9px;
    opacity: 0;
    transition: all 0.3s ease 0s;
}
.tab .nav-tabs li a:hover span,
.tab .nav-tabs li.active a span{
    letter-spacing: 1px;
    opacity: 1;
    transition: all 0.3s ease 0s;
}

/*defines the text pane as whole but affect horizontal after rotation*/
/* .tab .tab-pane{
  background: red;
  height:400px;
  overflow-y:scroll;
  width:10%;
} */

/*background does not work, defines horizontal after rotation*/
/* .tab .tabs{
  background:yellow;
  height:400px;
  overflow-y:scroll;
  width:50%;
} */

.tab .tab-content{
    /* padding: 30px; work below this is original*/
    padding: 30px;
    background: #fff;
    font-size: 16px;
    color: #6c6c6c;
/* line-height: 25px; */


    /* width: 100px; */
    /* width: 145px; */
    /* width: 150px; */
    /* width: 200px; */
                                      /* width working 200 is best*/
    /* Some useless try below */
    /* border: 25px springgreen; */
    /* border-bottom-color: sienna; */
    /* border-top-color: turquoise; */
    /* border-top-width: thick; */

    /* box-sizing: unset; */
    /* left: float; */
    /* height:100px; */
                                        /* height: working; */
    /* box-sizing: border-box; */

    /* align-content: center; */
    /* align-items:  */
    /* transform: rotate(90deg);   should not do */
    /* margin-right: auto;
    margin-left: 20px; */
    /* display: flex; */
    /* flex-basis: 2000rem;  No impact it effect childs only*/
    /* flex-wrap: unset; */
}


.tab .tab-content h3{
    font-size: 24px;
    margin-top: 0;
}

app-my-own-jio-footer {position:fixed; bottom: 0;}
@media only screen and (max-width: 479px){
    .tab .nav-tabs li{
        width: 100%;
        margin-bottom: 5px;
        text-align: center;
    }
    .tab .nav-tabs li a span{
        letter-spacing: 1px;
        opacity: 1;
    }
}
