<!--The content below is only a placeholder and can be replaced.-->
<div class="demo">
  <div class="container">
      <div class="row">
          <div class="col-md-12">
              <!-- <div class="navbar"><bdi>My Own Jio Board</bdi> -->
                <div class="navbar">
                    <p></p><p></p><p></p><p>My Own Jio Board  </p>
                  <ul class="menu">
                      <li><a>CentralIt</a></li>
                      <li><a class="fa fa-google-plus" href="#"></a></li>
                      <li><a class="fa fa-twitter" href="#">ABC</a></li>
                      <li><a class="fa fa-linkedin" href="#"></a></li>
                      <li><a class="fa fa-pinterest" href="#"></a></li>
                      <li><a class="fa fa-rss" href="#"></a></li>
                      <li><a class="fa fa-instagram" href="#"></a></li>
                      <li><a class="fa fa-skype" href="#"></a></li>
                      <li><a class="fa fa-github" href="#"></a></li>
                  </ul>
              </div>
          </div>
      </div>
  </div>
</div>
<p>-------------------</p>
<div class="demo">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="tab" role="tabpanel">
                    <!-- Nav tabs -->
                    <ul class="nav nav-tabs" role="tablist">
                        <li class="active" role="presentation"><a role="tab" aria-controls="home" href="#Section1" data-toggle="tab"><i class="fa fa-home"></i><span>SECTION-1</span></a></li>
                        <li role="presentation"><a role="tab" aria-controls="profile" href="#Section2" data-toggle="tab"><i class="fa fa-globe"></i><span>SECTION-2</span></a></li>
                        <li role="presentation"><a role="tab" aria-controls="messages" href="#Section3" data-toggle="tab"><i class="fa fa-briefcase"></i><span>SECTION-3</span></a></li>
                    </ul>
                    <!-- Tab panes -->
                    <div class="tab-content tabs">
                        <div class="tab-pane fade in active" id="Section1" role="tabpanel">
                            <h3>Section 1</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras nec urna aliquam, ornare eros vel, malesuada lorem. Nullam faucibus lorem at eros consectetur lobortis. Maecenas nec nibh congue, placerat sem id, rutrum velit. Phasellus porta enim at facilisis condimentum. Maecenas pharetra dolor vel elit tempor pellentesque sed sed eros. Aenean vitae mauris tincidunt, imperdiet orci semper, rhoncus ligula. Vivamus scelerisque.</p>
                        </div>
                        <div class="tab-pane fade" id="Section2" role="tabpanel">
                            <h3>Section 2</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras nec urna aliquam, ornare eros vel, malesuada lorem. Nullam faucibus lorem at eros consectetur lobortis. Maecenas nec nibh congue, placerat sem id, rutrum velit. Phasellus porta enim at facilisis condimentum. Maecenas pharetra dolor vel elit tempor pellentesque sed sed eros. Aenean vitae mauris tincidunt, imperdiet orci semper, rhoncus ligula. Vivamus scelerisque.</p>
                        </div>
                        <div class="tab-pane fade" id="Section3" role="tabpanel">
                            <h3>Section 3</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras nec urna aliquam, ornare eros vel, malesuada lorem. Nullam faucibus lorem at eros consectetur lobortis. Maecenas nec nibh congue, placerat sem id, rutrum velit. Phasellus porta enim at facilisis condimentum. Maecenas pharetra dolor vel elit tempor pellentesque sed sed eros. Aenean vitae mauris tincidunt, imperdiet orci semper, rhoncus ligula. Vivamus scelerisque.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- <app-bootstrap-navbar></app-bootstrap-navbar> -->
<!-- <router-outlet></router-outlet> -->
<!--
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <img width="300" alt="Angular Logo" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==">
</div>
<h2>Here are some links to help you start: </h2>
<ul>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://angular.io/tutorial">Tour of Heroes</a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://github.com/angular/angular-cli/wiki">CLI Documentation</a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://blog.angular.io/">Angular blog</a></h2>
  </li>
</ul>
 -->
