<div class="demo">
  <div class="container">
      <div class="row">
          <div class="col-md-12">
              <!-- <div class="navbar"><bdi>My Own Jio Board</bdi> -->
                <div class="navbar">
                    <p></p><p></p><p></p><p>My Own Jio Board  </p>
                  <ul class="menu">
                      <li routerLinkActive="active current"><a class="fa fa-bullseye" routerLink="/tibco"> TIBCO</a></li>
                      <li routerLinkActive="active current"><a class="fa fa-support" routerLink="/tibco">Support</a></li>
                      <li routerLinkActive="active current"><a class="fa fa-info" routerLink="/tibco"> JioInfo</a></li>
                      <li routerLinkActive="active current"><a class="fa fa-phone" routerLink="/tibco">CallCenter</a></li>
                      <li routerLinkActive="active current"><a class="fa fa-rupee" routerLink="/tibco">JioMoney</a></li>
                      <li routerLinkActive="active current"><a class="fa fa-odnoklassniki" routerLink="/tibco">SelfCare</a></li>
                      <li routerLinkActive="active current"><a class="fa fa-cloud" routerLink="/tibco"> Cloud</a></li>
                      <li routerLinkActive="active current"><a class="fa fa-server" routerLink="/tibco"> Infra</a></li>
                      <li routerLinkActive="active current"><a class="fa fa-thumbs-o-up" routerLink="/tibco"> CRM</a></li>
                  </ul>
              </div>
          </div>
      </div>
  </div>
</div>
<app-my-own-jio-highlights></app-my-own-jio-highlights>
<app-my-own-jio-status></app-my-own-jio-status>
<app-my-own-jio-footer>22222</app-my-own-jio-footer>
