<div class="MyOwnJioDetails">
<div class="container">
  <div class="row">
    <div class="col-md-3 col-sm-6 ">
      <div class="pricingTable">
        <div class="pricingTable-header">
          <span class="heading">
            <h3>Highlights: Title 1</h3><i class="fa fa-caret-square-o-right"></i></span>
          <span class="price-value">
            <span>Highlights Heading</span><!-- <span class="month">/per month</span> -->
          </span>
          </div>
        <div class="pricingContent">
          <ul>
            <li>Highlights 1</li>
            <li>Highlights 2</li>
            <li>Highlights 3</li>
            <li>Highlights 4</li>
            <li>Highlights 5</li>
            </ul>
          </div>
        <!-- /  CONTENT BOX-->

        <!-- <div class="pricingTable-sign-up">
          <a class="btn btn-block btn-default" href="#"> Action Like</a>
          </div> -->
        <!-- BUTTON BOX-->
        </div>
      </div>
      <div class="col-md-3 col-sm-6 ">
          <div class="pricingTable">
            <div class="pricingTable-header">
              <span class="heading">
                <h3>Highlights: Title 2</h3><i class="fa fa-shield"></i></span>
              <span class="price-value">
                <span>Highlights Heading</span><!-- <span class="month">/per month</span> -->
              </span>
              </div>
            <div class="pricingContent">
              <ul>
                <li>Highlights 1</li>
                <li>Highlights 2</li>
                <li>Highlights 3</li>
                <li>Highlights 4</li>
                <li>Highlights 5</li>
                </ul>
              </div>
            <!-- /  CONTENT BOX-->

            <!-- <div class="pricingTable-sign-up">
              <a class="btn btn-block btn-default" href="#"> Action Like</a>
              </div> -->
            <!-- BUTTON BOX-->
            </div>
          </div>
          <div class="col-md-3 col-sm-6 ">
      <div class="pricingTable">
        <div class="pricingTable-header">
          <span class="heading">
            <h3>Highlights: Title 3</h3><i class="fa fa-check-circle"></i></span>
          <span class="price-value">
            <span>Highlights Heading</span><!-- <span class="month">/per month</span> -->
          </span>
          </div>
        <div class="pricingContent">
          <ul>
            <li>Highlights 1</li>
            <li>Highlights 2</li>
            <li>Highlights 3</li>
            <li>Highlights 4</li>
            <li>Highlights 5</li>
            </ul>
          </div>
        <!-- /  CONTENT BOX-->

        <!-- <div class="pricingTable-sign-up">
          <a class="btn btn-block btn-default" href="#"> Action Like</a>
          </div> -->
        <!-- BUTTON BOX-->
        </div>
      </div>

      <div class="col-md-3 col-sm-6 ">
      <div class="pricingTable">
        <div class="pricingTable-header">
          <span class="heading">
            <h3>Highlights: Title 4</h3><i class="fa fa-thumbs-up"></i></span>
          <span class="price-value">
            <span>Highlights Heading</span><!-- <span class="month">/per month</span> -->
          </span>
          </div>
        <div class="pricingContent">
          <ul>
            <li>Highlights 1</li>
            <li>Highlights 2</li>
            <li>Highlights 3</li>
            <li>Highlights 4</li>
            <li>Highlights 5</li>
            </ul>
          </div>
        <!-- /  CONTENT BOX-->

        <!-- <div class="pricingTable-sign-up">
          <a class="btn btn-block btn-default" href="#"> Action Like</a>
          </div> -->
        <!-- BUTTON BOX-->
        </div>
      </div>




    </div>
</div>
</div>
